header{
    position: relative;
    background-color: #bdc3bfff;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    color: whitesmoke;
    padding: 2px;
}

header h1 {
    padding-left: 2px;
}

body {
    background-color: #fffef3ff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

.nav {
    display: flex;
    justify-content: flex-end;
}

.nav-item a{
    color: whitesmoke; 
}

.about-me {
    width: 100%;
    margin: 50px auto;

}

.about-me h1 {
    text-align: center;
}

.about-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 70%;
}

.profile {
    width: 20%;
    padding: 2px;
}

.bio {
    width: 80%;
    display: inline-block;
    padding: 5px;
}

footer {
    background-color: #bdc3bfff;
    color: whitesmoke;
    margin-top: auto;
    position: absolute;
    bottom: 0;
    min-width: 100%;
}

@media screen and (max-width: 600px) {

.about-div {
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.profile {
    width: 50%;
    padding: 2px;
    display: block;
    margin: auto;
}

.bio {
    display: block;
    padding: 5px;
    margin: auto;
}

.footer {
    position: relative;
}

}

